.validation {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 17px;
  font-family: inherit;

  animation: showBackground 0.1s linear;
}
.validation.validationRemove {
  animation: hideBackground 0.1s linear;
}
.validationBox {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.validationBox #validationClose {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  padding: 10px;
  margin: 24px;
  cursor: pointer;
}
.validationBox #validationClose::before,
.validationBox #validationClose::after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #5f6368;
}
.validationBox #validationClose:hover::before,
.validationBox #validationClose:hover::after {
  background-color: #212121;
}
.validationBox #validationClose::before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.validationBox #validationClose::after {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.validationBox > div {
  z-index: 10;
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  bottom: 0;
  min-width: 500px;
  background-color: #ffffff;
  padding: 20px;
  border: none;

  animation: validationScale 0.1s linear;

  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
    0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  -moz-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  -o-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  -ms-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.validation.validationRemove .validationBox > div {
  animation: validationScaleOut 0.1s linear;
}
.validationBox > div .validationHeader {
  font-size: 1.375rem;
  color: #212121;
  line-height: 24px;
}
.validationBox > div .validationHeader > span {
  padding-bottom: 16px;
  position: relative;
  display: inline-block;
}
.validationBox > div .validationBody {
  color: #5f6368;
  font-size: 0.875rem;
  letter-spacing: 0.2px;
  padding-bottom: 20px;
}
.validationBox > div .validationBody span {
  display: block;
}
.validationBox > div .validationFooter {
  position: relative;
  text-align: right;
}
.validationBox > div .validationFooter a,
.validationBox > div .validationFooter a:active,
.validationBox > div .validationFooter a:visited,
.validationBox > div .validationFooter a:link {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
  font-weight: bold;
  color: #ffffff;
  background-color: #1a73e8;
  padding: 0 16px;
  height: 36px;
  min-width: 80px;
  font-size: 0.875rem;
  letter-spacing: 0.25px;
  line-height: 36px;
  position: relative;
  overflow: hidden;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;

  -webkit-transition: ease-in-out 0.4s;
  -moz-transition: ease-in-out 0.4s;
  -o-transition: ease-in-out 0.4s;
  -ms-transition: ease-in-out 0.4s;
  transition: ease-in-out 0.4s;
}
.validationBox > div .validationFooter a:hover {
  background-color: #297be6;
  -webkit-box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
  -moz-box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
  -o-box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
  -ms-box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
  box-shadow: 0 1px 2px 0 rgb(26 115 232 / 45%),
    0 1px 3px 1px rgb(26 115 232 / 30%);
  cursor: pointer;
}
.validationBox > div .validationFooter a:last-of-type {
  margin-right: 0;
}
.validationBox > div .validationFooter a > span {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;

  -webkit-animation: materialButtonEffect 0.14s linear;
  -moz-animation: materialButtonEffect 0.14s linear;
  -o-animation: materialButtonEffect 0.14s linear;
  -ms-animation: materialButtonEffect 0.14s linear;
  animation: materialButtonEffect 0.14s linear;

  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  border-radius: 100%;
}
@media (max-width: 991px) {
  .validationBox > div {
    min-width: 400px;
  }
}
@media (max-width: 767px) {
  .validationBox > div {
    min-width: 0;
    width:90%;
  }
}

@keyframes showBackground {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideBackground {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes validationScale {
  0% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes validationScaleOut {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes materialButtonEffect {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    -o-transform: scale(5);
    -ms-transform: scale(5);
    transform: scale(5);
  }
}
